<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{wiki_title}} - Versions</title>
    <link rel="stylesheet" href="/smeagol/main.css" type="text/css"/> 

    <!--[if lt IE 9]>
    <script src="/smeagol/html5.js"></script>
    <![endif]-->
  </head>

  <body>
	{{{ribbon_html}}}
	
    <div id="container">
		<header>
			<h1>{{wiki_title}}</h1>
		</header>
		
		<nav>
			{{{menu_html}}}
		</nav>
		
		<article>
			<h1>Versions</h1>
    		<div id="content">
{{{content}}}
			</div>
		</article>

		<footer>
		</footer>
    </div>
  </body>
</html>