<!DOCTYPE html>
<html>
  <head>
    <title>{{wiki_title}} - {{page_title}}</title>

    <meta http-equiv="Content-type" content="text/html;charset=utf-8">

    <link rel="stylesheet" href="{{base_path}}assets/smeagol/gollum.css" type="text/css"/>
    <link rel="stylesheet" href="{{base_path}}assets/smeagol/pygment.css" type="text/css"/>
    <link rel="stylesheet" href="{{base_path}}assets/smeagol/template.css" type="text/css"/>

    <!--[if lt IE 9]>
    <script src="{{base_path}}assets/smeagol/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/javascript/editor/gollum.editor.js"></script>
    {{#mathjax}}
      <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {{/mathjax}}

	{{#tracking_id}}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{{tracking_id}}}']);
      _gaq.push(['_trackPageview']);
  
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
	{{/tracking_id}}
  </head>

  <body>
	{{{ribbon_html}}}
	
<div id="wiki-wrapper" class="page">
<div id="head">
	<h1>{{wiki_title}}</h1>

  <ul class="actions">
		{{{menu_html}}}
  </ul>
</div>

<!-- CONTENT -->		
<div id="wiki-content">
<div class="wrap">
  <div id="wiki-body" class="gollum-markdown-content">
  <div id="template">
{{#not_home?}}
  <h1>{{page_title}}</h1>
{{/not_home?}}
{{{content}}}
  </div>
  </div>
</div>
</div>
<!-- END CONTENT -->

<!-- FOOTER -->
<div id="footer">
  {{#author}}
  <small style="float:left;">Last edited by <b>{{author}}</b> on {{date}}.</small>
  {{/author}}

	<small style="float:right;">
		This site is a <a href="https://github.com/blog/699-making-github-more-open-git-backed-wikis">GitHub Wiki</a>
		mirror powered by <a href="http://smeagolrb.info">Smeagol</a>.
	</small>
</div>
<!-- END FOOTER -->

</div>
</body>
</html>

