
		<footer>
			<small style="float:right;">
				This site is a <a href="https://github.com/blog/699-making-github-more-open-git-backed-wikis">GitHub Wiki</a>
				mirror powered by <a href="http://smeagolrb.info">Smeagol</a>.
			</small>
		</footer>

    </div>
  </body>
</html>
