{{> header}}

<!-- CONTENT -->		
<div id="wiki-content">
<div class="wrap">
  <div id="wiki-body" class="gollum-markdown-content">
  <div id="template" class="markdown-body">
{{#not_home?}}
  <h1>{{page_title}}</h1>
{{/not_home?}}
{{{content}}}
  </div>
  </div>
</div>
</div>
<!-- END CONTENT -->

{{> footer}}

