{{> header}}
		
<article>
{{#not_home?}}
  <h1>{{page_title}}</h1>
{{/not_home?}}
<div id="content">
{{{content}}}
</div>
</article>

</footer>
  <small style="float:left;">Last edited by <b>{{author}}</b> on {{post_date}}.</small>
</footer>

{{> footer}}

